<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aca.amm"
          android:versionCode="41"
          android:versionName="4.2">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <supports-screens/>


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_first"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CustomerActivity"
            android:label="@string/title_activity_customer"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ChooseProductActivity"
            android:label="@string/title_activity_choos_product"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ChooseCustomerActivity"
            android:label="@string/title_activity_choose_customer"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/searchable"/>
        </activity>
        <activity
            android:name=".ConfirmActivity"
            android:label="@string/title_activity_confirm"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FillOtomateActivity"
            android:label="@string/title_activity_fill_otomate"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FillAsriActivity"
            android:label="@string/title_activity_fill_asri"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FillTravelActivity"
            android:label="@string/title_activity_fill_travel"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SignatureActivity"
            android:label="@string/title_activity_signature"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FillTravelDomActivity"
            android:label="@string/title_activity_fill_travel_dom"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FillMedisafe"
            android:label="@string/title_activity_fill_medisafe"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FillExecutiveActivity"
            android:label="@string/title_activity_fill_executive"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FillTokoActivity"
            android:label="@string/title_activity_fill_toko"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FillOtomateSyariahActivity"
            android:label="@string/title_activity_fill_otomate_syariah"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FillAsriSyariahActivity"
            android:label="@string/title_activity_fill_asri_syariah"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FillPAAmanahActivity"
            android:label="@string/title_activity_fill_paamanah"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ReadNewsActivity"
            android:label="@string/title_activity_read_tc"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SPPAActivity"
            android:label="@string/title_activity_sppa"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SyncActivity"
            android:label="@string/title_activity_sync"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InfoOtomateActivity"
            android:label="@string/title_activity_info_otomate"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InfoAsriActivity"
            android:label="@string/title_activity_info_asri"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InfoAsriSyariahActivity"
            android:label="@string/title_activity_info_asri_syriah"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InfoOtomateSyariahActivity"
            android:label="@string/title_activity_info_otomate_syariah"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InfoMedisafeActivity"
            android:label="@string/title_activity_info_medisafe"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InfoPAAmanahActivity"
            android:label="@string/title_activity_info_paamanah"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InfoTokoActivity"
            android:label="@string/title_activity_info_toko"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InfoTravelActivity"
            android:label="@string/title_activity_info_travel"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InfoTravelDomActivity"
            android:label="@string/title_activity_info_travel_dom"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InfoExecutiveActivity"
            android:label="@string/title_activity_info_executive"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CaptureSignature"
            android:label="@string/title_activity_capture_signature"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MoreActivity"
            android:label="@string/title_activity_more"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SyncIncompleteActivity"
            android:label="@string/title_activity_sync_incomplete">
        </activity>
        <activity
            android:name=".SyncUnsyncActivity"
            android:label="@string/title_activity_sync_unsync">
        </activity>
        <activity
            android:name=".SyncUnpaidActivity"
            android:label="@string/title_activity_sync_unpaid">
        </activity>
        <activity
            android:name=".PaidSPPAActivity"
            android:label="@string/title_activity_paid_sppa"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ChooseCustomerForBuyActivity"
            android:label="@string/title_activity_choose_customer_for_buy"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/searchable"/>
        </activity>
        <activity
            android:name=".PhotoListActivity"
            android:label="@string/title_activity_photo_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".PhotoTakeActivity"
            android:label="@string/title_activity_photo_take"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UploadPhotoActivity"
            android:label="@string/title_activity_upload_photo"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us">
        </activity>
        <activity
            android:name=".InfoACAMobilActivity"
            android:label="@string/title_activity_info_acamobil">
        </activity>
        <activity
            android:name=".FillACAMobilActivity"
            android:label="@string/title_activity_fill_acamobil">
        </activity>
        <activity
            android:name=".FillCargoActivity"
            android:label="@string/title_activity_fill_cargo">
        </activity>
        <activity
            android:name=".InfoCargoActivity"
            android:label="@string/title_activity_info_cargo">
        </activity>
        <activity
            android:name=".ChooseVesselNameActivity"
            android:label="@string/title_activity_choose_vessel_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/searchable"/>
        </activity>
        <activity
            android:name=".ChooseVesselTypeActivity"
            android:label="@string/title_activity_choose_vessel_type"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/searchable"/>
        </activity>
        <activity
            android:name=".ChooseProvinceActivity"
            android:label="@string/title_activity_choose_province">
        </activity>
        <activity
            android:name=".ChooseCountryActivity"
            android:label="@string/title_activity_choose_country">
        </activity>
        <activity
            android:name=".ChooseCarBrandActivity"
            android:label="@string/title_activity_choose_car_brand">
        </activity>
        <activity
            android:name=".ChooseCarTypeActivity"
            android:label="@string/title_activity_choose_car_type">
        </activity>
        <activity
            android:name=".ChooseCarBrandSyariahActivity"
            android:label="@string/title_activity_choose_car_brand">
        </activity>
        <activity
            android:name=".ChooseCarTypeSyariahActivity"
            android:label="@string/title_activity_choose_car_type">
        </activity>
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed">
        </activity>
        <activity
            android:name=".InfoWellWomanActivity"
            android:label="@string/title_activity_info_well_woman">
        </activity>
        <activity
            android:name=".FillWellWomanActivity"
            android:label="@string/title_activity_fill_well_woman">
        </activity>
        <activity
            android:name=".FillDNOActivity"
            android:label="@string/title_activity_fill_dno">
        </activity>
        <activity
            android:name=".InfoDNOActivity"
            android:label="@string/title_activity_info_dno">
        </activity>
        <activity
            android:name=".ControlNormalActivity"
            android:label="Control Activity">
        </activity>

        <service
            android:name=".TaskService"
            android:exported="false"/>

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote">
        </receiver>

        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register">
        </activity>
        <activity
            android:name=".RegisterOrLoginActivity"
            android:label="@string/title_activity_register_or_login">
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName=".FirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aca.amm.FirstActivity"/>
        </activity>
        <activity
            android:name=".FillKonvensionalActivity"
            android:label="@string/title_activity_fill_comprehensive">
        </activity>
        <activity
            android:name=".InfoKonvensionalActivity"
            android:label="@string/title_activity_info_konvensional">
        </activity>
        <activity
            android:name=".FillInsuredGroupActivity"
            android:label="@string/title_activity_fill_insured_group">
        </activity>
        <activity android:name=".FillKuestioner1Activity">
        </activity>
        <activity android:name=".FillKuestioner2Activity">
        </activity>
        <activity android:name=".FillKuestioner3Activity">
        </activity>
        <activity android:name=".FillKuestioner4Activity">
        </activity>
        <activity
            android:name=".InfoLabbaikActivity"
            android:label="@string/title_activity_info_labbaik">
        </activity>
        <activity
            android:name=".FillLabbaikActivity"
            android:label="@string/title_activity_info_labbaik">
        </activity>

    </application>

</manifest>